@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}



.img {
    height: 60vh;
    opacity: 0.8;
    background-image: url(/img/color.jpg);
    background-size: cover;
    background-position: center;
    animation: color 3s linear both;
}

@media (min-width: 533px) {
    .img {
        height: 100vh;
    }
}

@media (min-width: 768px) {
    .img {
        height: 50vh;
        text-align: center;
    }
}

@media (min-width: 769px) {
    .img {
        height: 40vh;
        text-align: center;
    }
}

.img div {
    position: absolute;
    border-radius: 12px;
    right: 10px;
    bottom: 10px;
    text-transform: uppercase;
    padding: 15px;
    background-color: rgba(255, 229, 0, 0.8);
    color: black;
    /* border: 1px solid #0080C9; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    animation: button 2s linear both;
}

@media (min-width: 768px) {
    .img div {
        right: 30px;
        bottom: 30px;
        font-size: 2.1rem;
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    .img div {
        right: 20px;
        bottom: 20px;
        transition: .5s;
    }
}

.img div h2 {
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.img div p {
    text-transform: none;
}

.img div p:nth-of-type(3) {
    margin-top: 15px;
}

.img div p:nth-of-type(4) {
    margin-bottom: 15px;
    margin-top: 5px;
}

.img div p:nth-of-type(3),
.img div p:nth-of-type(4) {
    text-align: left;
}

.img div p:nth-of-type(5) {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.2rem;
}

.img div p i {
    margin-right: 10px;
    color: #0080C9;
    font-size: 2rem;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    animation: logo 2s linear;
}

.logo img {
    margin: 10px;
    width: 70%;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #007ec7;
    font-weight: bold;
    transition: .3s linear;
}

a:hover {
    color: black
}

@media (min-width: 640px) {
    .logo img {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .logo img {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .logo img {
        width: 50%;
        max-width: 1400px;
    }
}

@keyframes logo {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes button {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 20px;
    }
}

@keyframes color {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .8;
    }
}