.services {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.offer {
    background-color: rgba(0, 128, 201, .7);
    border: 1px black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    padding: 15px;
    text-align: center;
}

.offer h1 {
    font-size: 2.4rem;
    color: #ffe500;
    margin-bottom: 10px;
}

.offer h1 span {
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.offer p {
    font-size: 1.8rem;
}